$black: #000000;
$mint-green: #9bff92;
$purple-heart: #663399;
$eletric-indigo: #7d00ff;
$midnight-blue: #011627;
$white: #ffffff;
$shade-of-cyan: #009ce6;
$tomato: #ff6347;
$bluish-grey: #6092c7;
$pink: #ff69b4;
